<nav
  class="flex w-full bg-white items-center justify-between border-b p-4 text-xl font-semibold"
>
  <h1 class="text-3xl text-black">Ng-Clerk</h1>
</nav>
<div class="bg-white grid h-full w-screen place-items-center">
  <div class="w-full mx-auto px-4 py-12 sm:px-16 lg:py-32 lg:px-32">
    <div
      class="px-6 py-6 bg-indigo-700 rounded-lg md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center"
    >
      <div class="xl:w-0 xl:flex-1">
        <h2
          class="text-2xl font-extrabold tracking-tight text-white sm:text-3xl"
        >
          Enter your clerk publishable key
        </h2>
        <p class="mt-3 max-w-3xl text-lg leading-6 text-indigo-200">
          To get started, enter your clerk publishable key.
        </p>
      </div>
      <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
        <form class="sm:flex">
          <label for="clerkKey" class="sr-only">Publishable key</label>
          <input
            id="clerkKey"
            name="clerkKey"
            type="password"
            required
            class="w-full border-white px-5 py-3 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white rounded-md"
            placeholder="Enter your publishable key"
            #publishableKey
          />
          <button
            (click)="setConfig(publishableKey.value)"
            type="button"
            class="mt-3 w-full flex items-center justify-center px-5 py-3 border border-transparent shadow text-base font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0"
          >
            Go to the demo!
          </button>
        </form>
        <p class="mt-3 text-sm text-indigo-200">
          We care about the protection of your data. this key will never leave
          your device, it is stored in local storage and is only used for test
          purposes.
        </p>
        <p class="mt-3 text-sm text-white font-bold">
          IMPORTANT: If you enter an invalid key, please clear your local
          storage and try again.
        </p>
      </div>
    </div>
  </div>
</div>
